@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Bengali:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Bengali:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
      scroll-behavior: smooth;
  }
  :root {
      --nav-color: #a8a9b4;
      --nav-hover-color: #ffffff;
      --nav-mobile-background-color: #040b14;
      --nav-dropdown-background-color: #040b14;
      --nav-dropdown-color: #a8a9b4;
      --nav-dropdown-hover-color: #ffffff;
  }
  :root {
      --background-color: #ffffff;
      --default-color: #272829;
      --heading-color: #050d18;
      --accent-color: #149ddd;
      --surface-color: #ffffff;
      --contrast-color: #ffffff;
  }
  :root {
      --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --heading-font: "Raleway", sans-serif;
      --nav-font: "Poppins", sans-serif;
  }

  a{
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: var(--heading-font);
  }

  body .header{
    position: fixed;
    width: 300px;
    height: fit-content;
    background-color: var(--heading-color);
  }

  .header .profile-img{
    position: relative;
    width: 120px;
    height: 120px;
    border: 8px solid var(--default-color);
    border-radius: 50%;
  }

  .header .logo{
    position: relative;
  }

  .header h1{
    font-size: 24px;
    font-weight: 700;
    color: var(--surface-color);
  }

  .header .social-links a{
    background: var(--default-color);
    border-radius: 50%;
    color: var(--contrast-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    padding: 7px;
    height: 40px;
    width: 40px;
    transition: 0.3s;
  }

  .header .social-links a:hover{
    background: var(--accent-color);
  }

  .navmenu{
    width: 300px;
    margin: 0 0 20px 0;
    padding: 0 0 40px 0;
  }

  .navmenu ul{
    list-style: none;
    line-height: 4rem;
  }

  .navmenu li a{
    position: relative;
    color: var(--nav-color);
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s;
    width: 100%;
  }

  .navmenu li a:hover i{
    color: var(--accent-color);
  }
  .navmenu li a:hover{
    color: var(--nav-hover-color);
  }

  .navmenu li a i{
    position: relative;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--nav-font);
  }


  